<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="triangle" class="com.example.Triangle">
        <!--<property name="type" value="Isoscales"/>-->
        <!--<constructor-arg value="Isoscales"/>-->

        <!--<constructor-arg value="Isoscales"/>
        <constructor-arg value="20"/>-->

        <!--<constructor-arg value="20"/> &lt;!&ndash;Problem, Confusion for spring&ndash;&gt;-->

        <!--<constructor-arg value="20" type="int"/>-->
        <!--<constructor-arg value="20" type="java.lang.String"/> &lt;!&ndash;Solution&ndash;&gt;-->

        <constructor-arg index="1" value="20"/>
        <constructor-arg index="0" value="30"/>
    </bean>

</beans>