<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="pointZero" class="com.example.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="triangle" class="com.example.Triangle" name="triangle2">
        <property name="pointA" ref="pointZero"/>
        <!--<property name="pointA">
            <idref bean="pointZero"/>
            to restrict using id only
        </property>-->
        <property name="pointB">
            <!--Only benefit is consolidation-->
            <bean class="com.example.Point">
                <property name="x" value="-20"/>
                <property name="y" value="16"/>
            </bean>
        </property>
        <property name="pointC">
            <bean class="com.example.Point">
                <property name="x" value="10"/>
                <property name="y" value="11"/>
            </bean>
        </property>
    </bean>

    <alias name="triangle" alias="myTriangle"/>

</beans>